.modal-link {
    color: $link-color;
    &:hover {
        color: darken($link-color, 15%);
    }
}
.modal-viewport-hidden {
    display: none;
}

.modal-viewport-visible {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: hsla(200, 41%, 75%, 0.20);
    z-index: 2;
}

.modal {
    position: fixed;
    background-color: white;
    width: 62.5%;
    height: auto;
    min-height: 50.5%;
    top: 50%;
    left: 50%;
    border-radius: 2px;
    transform: translate(-50%, -50%);
    padding: 50px;
    box-shadow: 2px 4px 10px 2px rgba(165, 200, 217, 0.4);
    border: 1px solid cadetblue;
    display: flex;
    align-items: center;
    line-height: 1.7;
}

.modal-close, .modal-close:focus {
    position: absolute;
    top: 15px;
    right: 15px;
    height: 30px;
    width: 30px;
    padding: 0;
    border: none;
    background-color: transparent;
    border-color: transparent;

    &:hover {
        cursor: pointer;
        background-color: transparent;
        border-color: transparent;

        .modal-close-line {
            &:before {
                background-color: $btn-teal;
            }
        }
    }
}

.modal-close-line {
    position: absolute;
    top: calc(50% - 1px);
    width: calc(100% - 4px);
    left: 0;
    right: 0;
    bottom: auto;
    margin: 0 auto;
    &:before {
        content: '';
        display: block;
        height: 2px;
        background-color: black;
        transform: rotate(45deg);
        transform-origin: 50% 50% 0;
    }
}

.modal-close-line:last-of-type {
    &:before {
        transform: rotate(-45deg);
        transform-origin: 50% 50% 0;
    }
}