.section-card {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px 15px;
    position: relative;
}

.section-card-checkbox {
    position: absolute;
    top: 8px;
    right: 8px;
    color: teal;
}

.section-card__order {
    color: $text-light-teal;
}

.section-card__name {
    color: $text-teal;
    text-transform: uppercase;
}

.section-card-image {
    display: block;
    width: auto;
    height: 150px;
    max-width: 100%;
    margin: 0 auto;

    @include min-bp($desktop) {
        height: 150px;
    }
}

.program-section-card-link {
    text-decoration: none;
}

