@import '../global/variables';
@import '../global/breakpoints';

.prompt-options {
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
}

button, button:focus, .button {
    outline: none;
    border: 1px solid teal;
    &:hover {
        cursor: pointer;
        background-color: darken(teal, 5%);
        border-color: darken(teal, 5%);
    }
}

.prompt-option {
    display: inline-block;
    padding: 10px;
    color: white;
    background-color: teal;
    border: 1px solid teal;
    border-radius: 2px;
    margin-right: 10px;

    &:hover {
        cursor: pointer;
        background-color: darken(teal, 5%);
        border-color: darken(teal, 5%);
    }
}

.prompt-option-selected {
    background-color: darken(teal, 12.5%);
    border-color: darken(teal, 12.5%);
}

.activity-nav {
    width: 100%;
    float: left;
}
button.activity-prev, button.activity-next {
    color: $link-color;
    background-color: transparent;
    border: none;
    text-decoration: underline;

    &:hover {
        background-color: transparent;
        border: none;
        border-color: transparent;
        color: darken($link-color, 15%);
    }
    &.hidden {
        display: none;
    }
}

.activity-finish {
    float: right;
    &.hidden {
        display: none;
    }
}
.activity-prev {
    float: left;
}
.activity-next {
    float: right;

    &:disabled {
        pointer-events: none;
    }
}

.activities {
}

.activity {
    &.activity--hidden {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    &.activity--active {
        display: block;
        opacity: 1;
        visibility: visible;
    }
}