$black: #333;
$link-color: #859BB4;
$robin: #DAF1F6;
$text-teal: #205486;
$text-light-teal: #6082A6;
$text-aqua: #74CCE1;
$btn-aqua: #36B8D5;
$btn-teal: #008490;
$border-color: #F5F5F5;
$box-shadow-color: #EDEDED;